<h1>物件情報編集</h1>
<%= form_with(model: @property, local: true) do |form| %>
    <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= @property.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div class="property_name">
      <%= form.label :物件名 %>
      <%= form.text_field :name %>
    </div>
    <div class="property_rent">
      <%= form.label :賃料 %>
      <%= form.text_field :rent %>
    </div>
    <div class="property_address">
      <%= form.label :住所 %>
      <%= form.text_field :address %>
    </div>
    <div class="property_age">
      <%= form.label :築年数 %>
      <%= form.text_field :age %>
    </div>
    <div class="property_content">
      <%= form.label :備考 %>
      <%= form.text_field :content %>
    </div>
    <hr>

    <%= form.fields_for :nearest_stations do |form| %>
    <% if form.index < 50 %>
    <h3>最寄駅<%= form.index + 1 %></h3>
    <div class="fields">
      <%= form.label :'路線名' %><br>
      <%= form.text_field :line %>
    </div>
    <div class="fields">
      <%= form.label :'駅名' %><br>
      <%= form.text_field :station %>
    </div>
    <div class="fields">
      <%= form.label :'徒歩分数' %><br>
      <%= form.text_field :minutes_walk %>
    </div>
    <% end %>
    <% end %>
    <%= form.submit %>
<% end %>
<%= link_to '物件一覧画面に戻る', properties_path %>